body{
background-color:yellow;
}
#phone{
float:right;
width:50%;

}
.hme_ttl{
color:white;
font-size:100px;
margin:0;
}
.hme_subttl{
color:black;
font-size:80px;
margin:0;
line-height:auto; 
}
#SecondPageTitlePosition{
clear:right;
text-align:center;
}
#hometext{
	text-align:center;
    width: 50%;
    float: left;
    box-sizing: border-box;
}
#slider{
	width:100%;
	overflow:hidden;
}